@font-face {
    font-family: "Roboto";
    src: url("../static/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../static/fonts/Roboto-Medium.ttf");
    font-weight: 500;
}

.fs-40 {
    font-size: 40px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-15::placeholder {
    font-size: 15px !important;
    color: #6c757d !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fw-500 {
    font-weight: 500 !important;
}