.custom-font {
    font-family: "Roboto", sans-serif;
}

.form-signin .container{
    max-width: 421px;
}

.form-title {
    font-family: "Roboto-Medium", sans-serif;
    color: #052c65 !important;
}

.btn-toggle svg {
    transition: transform 0.35s ease; /* Плавный поворот */
    transform-origin: center;        /* Точка вращения */
}

.btn-toggle.collapsed svg {
    transform: rotate(0deg); /* Состояние "свернуто" */
}

.btn-toggle:not(.collapsed) svg {
    transform: rotate(90deg); /* Состояние "развернуто" */
}

