<section class="creating-incomes ms-custom-section">
    <div class="container min-vh-100">
        <div class="creating-incomes-title-block title-block mx-xl-5">
            <h1 class="creating-incomes-title title">Редактирование дохода/расхода</h1>
        </div>
        <div class="creating-incomes-container mx-xl-5 pb-3">
            <div class="creating-income-block w-100">
                <select class="form-control input-custom text-dark" name="category" id="category">
                    <option value="income">Доход</option>
                    <option value="expense">Расход</option>
                </select>
                <select class="form-control input-custom text-dark" name="category" id="operations">
                    <option value="deposits">Депозиты</option>
                    <option value="salary">Зарплата</option>
                    <option value="savings">Сбережения</option>
                    <option value="investment">Инвестиции</option>
                    <option value="meal">Еда</option>
                    <option value=housing">Жильё</option>
                    <option value="health">Здоровье</option>
                    <option value="cafe">Кафе</option>
                    <option value="auto">Авто</option>
                    <option value="clothes">Одежда</option>
                    <option value="entertainments">Развлечения</option>
                    <option value="accounts">Счета</option>
                    <option value="spert">Спорт</option>
                </select>
                <input class="form-control input-custom text-dark" type="text" placeholder="500$">
                <input class="form-control input-custom text-dark" type="text" placeholder="16.11.2024">
                <input class="form-control input-custom text-dark" type="text" placeholder="Комментарий...">
                <div class="creating-income-active d-flex">
                    <a href="#" class="btn btn-success btn-custom">Сохранить</a>
                    <a href="#/incomes-expenses" class="btn btn-danger btn-custom" type="button">Отмена</a>
                </div>
            </div>
        </div>
    </div>
</section>